@import url('https://fonts.googleapis.com/css?family=Anton');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: linear-gradient(purple,pink);
  height: 80px;
  padding: 20px;
  color: white;
  font-family: 'Anton', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.placeSelection, .gallery, .App-header{
  display: flex;
  flex-direction: row;
  padding:10px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 10px;
}

.individualPlaces{
    margin: 10px;
    border: solid gainsboro 0.5px;
    padding: 10px;
    border-radius: 10px;
    background: #f8f9fa;
}

.mainHeader{
  margin-top: 15px;
  font-family: 'Anton', sans-serif;
}

.subHeader{
  margin-top: 20px;
  font-family: 'Anton', sans-serif;
}

.alignLeft{
  text-align: left !important;
  font-size: 25px;
  vertical-align: middle;
  border-left: dotted 4px purple;
  height: 50%;
  margin-top: 10%;
}

.individualPlaces label{
  font-weight: bold;
}

.fitCover{
  object-fit: cover !important;
  width: 900px;
  height: 500px !important;
}

.avatar{
  width: 60px;
  float: left;
}

#destinationComp{
  min-height: 600px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (min-width: 1220px){
  .placeSelection{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media screen and (min-width: 920px){
  #photoGallery{
    width: 900px !important;
    margin: auto;
  }
  
}

